body {
    background: #1b1b1b;
    color: #f2f2f2;
    font-family: "Georgia", serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* NAVBAR */
.navbar {
    background: #240000;
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #4d0000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.nav-title {
    font-size: 28px;
    color: #e8dccc;
    font-weight: bold;
    text-decoration: none;
}

.nav-right {
    display: flex;
    gap: 28px;
}

.nav-right a {
    color: #f4e9da;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-right a:hover {
    color: #ff9494;
}

/* TEXTOS */
h1, h2, h3 { margin: 10px; font-weight: normal; }
.titulo, .hero-title { font-size: 48px; color: #e0d6c2; text-shadow: 0 0 10px rgba(255,255,255,0.1); }
.subtitulo, .hero-subtitle { color: #d1b7a3; font-size: 22px; }

/* HERO */
.hero { text-align: center; margin-top: 80px; }
.hero-title { font-size: 50px; font-weight: bold; }
.hero-buttons { margin-top: 30px; display: flex; justify-content: center; gap: 20px; }

/* BOTONES */
.btn {
    background: #3b0000;
    color: white;
    padding: 12px 28px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: inline-block;
}
.btn:hover { background: #5a0000; }

.btn-outline {
    background: transparent;
    border: 2px solid #3b0000;
    color: #f2f2f2;
    padding: 12px 28px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}
.btn-outline:hover { background: #3b0000; color: white; }

/* FORMULARIOS Y CARDS */
input {
    display: block;
    margin: 12px auto;
    padding: 14px;
    width: 320px;
    background: #2a2a2a;
    border: 2px solid #3b0000;
    border-radius: 10px;
    color: #f2f2f2;
    font-size: 16px;
}
.card, .form-card {
    background: #2a2a2a;
    width: 340px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255,0,0,0.15);
}

/* MENU GRID */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
    padding: 30px;
}
.menu-card {
    background: rgba(20, 20, 20, 0.8);
    border: 1px solid #4a2525;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}
.menu-card:hover { transform: scale(1.03); background: rgba(40, 40, 40, 0.9); }

/* TABLA PEDIDO */
table { width: 90%; margin: 20px auto; border-collapse: collapse; }
th, td { padding: 15px; text-align: center; }
th { border-bottom: 2px solid #4a2525; color: #d1b7a3; }
td { border-bottom: 1px solid #4a2525; }
